.designerSubtitle {
    color: #23AEFF;
}

.designContainer {
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 480px) {
        flex-direction: column;
        gap: 10vh;
    }
}

.designerTools {
    width: 40vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2vw;
    @media screen and (max-width: 480px) {
        width: 71.5vw;
        gap: 5vw;
        justify-content: space-between;
    }
}

.circleDesign {
    width: 15vw;
    height: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vh;
    align-items: center;
    @media screen and (max-width: 480px) {
        height: 32.5vw;
        width: 32.5vw;
    }
}

.circleDesign img {
    height: 7vh;
    width: 7vh;
    @media screen and (max-width: 480px) {
        height: 5vh;
        width: 5vh;
    }
}

.circleDesign h2 {
    font-size: 1.3rem;
    text-align: center;
    @media screen and (max-width: 480px) {
        font-size: 1rem;
    }
}

.design {
    margin: 0 12.5vw;
    padding-top: 10vh;
    height: 100vh;
}

.projectsDesign a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    height: 50vh;
    @media screen and (max-width: 480px) {
        align-items: center;
        height: 10vh;
    }
}

.projectsDesign a h2 {
    opacity: 80%;
    font-size: 2.5rem;
    @media screen and (max-width: 480px) {
        font-size: 1.5rem;
    }
}

.projectsDesign a img {
    width: 5vw;
    @media screen and (max-width: 480px) {
        width: 10vw;
    }
}