.frontEndDevelopmentSubtitle {
    font-size: 1.25rem;
    color: #B84BFF;
}

.frontEndElements {
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    gap: 3vh;
    flex-wrap: wrap;
    justify-content: space-between;
    @media screen and (max-width: 480px) {
        justify-content: space-between;
    }
}

.htmlFront,
.cssFront,
.jsFront,
.tsFront,
.reactFront,
.angularFront {
    display: flex;
    flex-direction: row;
    width: 22vw;
    height: 12.5vh;
    align-items: center;
    gap: 2vw;
    @media screen and (max-width: 480px) {
        padding: 0;
        width: 32.5vw;
        height: 15vh;
        flex-direction: column;
        justify-content: center;
        gap: 5vw;
    }
}

.htmlFront img,
.cssFront img,
.jsFront img,
.tsFront img,
.reactFront img,
.angularFront img {
    width: 3.5vw;
    height: auto;
    @media screen and (max-width: 480px) {
        width: 10vw;
    }
}

.htmlFront h2,
.cssFront h2,
.jsFront h2,
.tsFront h2,
.reactFront h2,
.angularFront h2 {
    font-size: 1.75rem;
    @media screen and (max-width: 480px) {
        font-size: 1rem;
    }
}

.projectsFrontEnd a {
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    width: 70.5vw;
    justify-content: flex-end;
    align-items: center;
    gap: 3vw;
    @media screen and (max-width: 480px) {
        width: 75vw;
    }
}

.projectsFrontEnd a img {
    width: 5vw;
    @media screen and (max-width: 480px) {
        width: 10vw;
    }
}