.workPageContainer {
    height: auto;
    padding-bottom: 10vh;
    background-color: black;
}

.myWorkTitle {
    margin: 2vh 13.5vw 0 13.5vw;
    font-size: 3.5rem;
    @media screen and (max-width: 480px) {
        font-size: 1.9rem;
    }
}

.loader {
    height: 100vh;
    width: 100vw;
    background-color: black;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.apple-loader {
    width: 64px;
    height: 64px;
}

.apple-loader-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform: rotate(0deg);
    transform-origin: center center;
    animation: apple-loader 1.2s infinite ease-in-out;
}

.apple-loader-inner-inner {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #fff;
    border-left-color: #333;
    box-sizing: border-box;
}

@keyframes apple-loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.backButton {
    margin-top: 12.5vh;
}

.whiteLine {
    height: 0.1vh;
    background-color: rgba(255, 255, 255, 0.4);
    margin: 1.5vh 13.5vw;
    width: 70.5vw;
}