.aboutBody {
    min-height: 100vh;
    padding-bottom: 10vh;
    background-color: black;
}

.aboutContainer {
    margin: 2vh 0 0 13.5vw;
    width: 45vw;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    @media screen and (max-width: 480px) {
        flex-direction: column;
        width: 75vw;
        margin: 2vh 13.5vw 0 13.5vw
    }
}

.backButtonAbout {
    margin-top: 15vh;
}

.aboutTitle {
    font-size: 2.5rem;
    @media screen and (max-width: 480px) {
        text-align: center;
        font-size: 2.2rem;
    }
}

.aboutDescription {
    opacity: 50%;
}

.contentAbout {
    width: 85vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media screen and (max-width: 480px) {
        flex-direction: column;
        width: 100vw;
    }
}

.youngIlyes {
    width: 21.5vw;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    @media screen and (max-width: 480px) {
        width: 100vw;
    }
}

.youngIlyes img {
    margin-top: 12vh;
    width: 20vw;
    height: auto;
    @media screen and (max-width: 480px) {
        width: 75vw;
        margin: 5vh 13.5vw 0 13.5vw;
    }
}