.projectContainer {
    height: 20vh;
    background: linear-gradient(112.1deg, rgb(17, 17, 17) 11.4%, rgb(23, 23, 23) 70.2%);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
    border-radius: 10px;
    width: 16vw;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 480px) {
        width: 70vw;
        height: 33vw;
    }
}

.projectContainer:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.projectName {
    color: white;
    padding: 0 2vw;
    text-align: center;
    @media screen and (max-width: 480px) {
        font-size: 1.2rem;
    }
}

.allProjects {
    padding: 1vh;
    margin: 4vh 12.5vw 0 12.5vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2vw;
    @media screen and (max-width: 480px) {
        justify-content: space-between;
        gap: 3vh;
    }
}

.designUIUXTitle {
    margin: 5vh 12.5vw 0 13.5vw;
    color: #23AEFF;
    @media screen and (max-width: 480px) {
        font-size: 1.5rem;
    }
}