h1,
li,
h2,
p,
a {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: white;
}

div {
    overflow: hidden;
}

body {
    scroll-behavior: smooth;
}

button {
    border-style: none;
}

li {
    font-weight: 325;
    color: rgba(255, 255, 255, 0.5);
    transition: all 1s;
}

li:hover {
    color: white;
    transform: scale(1.05);
}

.active {
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

li:hover,
button:hover {
    cursor: pointer;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}