.backendDevelopmentSubtitle {
  color: #B00D23;
}

.projectsBackend {
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3vw;
}

.projectsBackend h2 {
  opacity: 80%;
}

.projectsBackend img {
  width: 5vw;
}
