.backendDevelopmentSubtitle {
    color: #B00D23;
}

.projectsBackend a {
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3vw;
    @media screen and (max-width: 480px) {
        margin-top: 10vh;
        justify-content: flex-end;
    }
}

.projectsBackend a h2 {
    opacity: 80%;
}

.projectsBackend a img {
    width: 5vw;
    @media screen and (max-width: 480px) {
        width: 10vw;
    }
}