.iOS {
    margin: 0 12.5vw;
    padding-top: 10vh;
    height: 110vh;
    @media screen and (max-width: 480px) {
        height: 120vh;
    }
}

.iOSBackground {
    background-color: black;
}

.mobileDevelopmentSubtitle {
    font-size: 1.25rem;
    color: #00FF41;
}

.iOSDeveloperTitle {
    font-size: 3rem;
    @media screen and (max-width: 480px) {
        font-size: 1.75rem;
    }
}

.iosTools {
    margin-top: 17.5vh;
    @media screen and (max-width: 480px) {
        margin-top: 5vh;
    }
}

.program {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4vw;
    margin-bottom: 2vh;
}

.program img {
    width: 4vw;
    @media screen and (max-width: 480px) {
        width: 10vw;
    }
}

.projectsIos a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3vw;
    @media screen and (max-width: 480px) {
        margin-top: 2vh;
        justify-content: center;
    }
}

.projectsIos a h2 {
    opacity: 80%;
}

.projectsIos a img {
    width: 5vw;
    @media screen and (max-width: 480px) {
        width: 12.5vw;
    }
}

.iosContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media screen and (max-width: 480px) {
        flex-direction: column;
    }
}

.programText {
    @media screen and (max-width: 480px) {
        font-size: 1.3rem;
        opacity: 80%;
    }
}

.iphoneExample {
    width: auto;
    height: 80vh;
    @media screen and (max-width: 480px) {
        height: auto;
        width: 72.5vw;
        margin: 0 0 0 0;
    }
}