.workDetailsPageContainer {
    background-color: black;
    height: auto;
    padding-bottom: 10vh;
}

.detailsContent {
    padding: 15vh 12.5vw 0 12.5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media screen and (max-width: 480px) {
        flex-direction: column;
    }
}

.detailsContentWeb {
    padding: 15vh 12.5vw 0 12.5vw;
    display: flex;
    flex-direction: column;
    gap: 10vh;
}

.detailsTitle {
    font-size: 3.2rem;
    @media screen and (max-width: 480px) {
        font-size: 2rem;
    }
}

.descriptionWork {
    margin-top: 5vh;
    font-size: 1.4rem;
    opacity: 30%;
    font-weight: 500;
    @media screen and (max-width: 480px) {
        font-size: 1rem;
    }
}

.headerWorks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 45vw;
    @media screen and (max-width: 480px) {
        width: 75vw;
    }
}

.carouselView .carousel {
    width: 26.5vw !important;
    @media screen and (max-width: 480px) {
        margin-top: 5vh !important;
        width: 75vw !important;
    }
}

.carouselWeb {
    height: auto !important;
}

.carouselWeb div img {
    height: auto !important;
    width: 75vw !important;
    @media screen and (max-width: 480px) {
        height: 20vh !important;
    }
}

.thumbs-wrapper {
    display: none;
}

.headerDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.carousel img {
    height: 75vh;
    width: auto !important;
}

.githubButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    width: 5vw;
    padding: 0.5vh 1vw;
    background-color: #2F2F31;
    transition: all 1s;
    @media screen and (max-width: 480px) {
        padding: 0.5vh 5.5vw;
    }
}

.githubButton:hover {
    transform: scale(1.05);
}

.gitImg {
    height: 4vh;
    @media screen and (max-width: 480px) {
        height: 3vh;
    }
}